﻿<template>
    <div id="app">
        <Tree />
        <Tracks />
    </div>
</template>

<script>
    import Tree from './Tree.vue'
    import Tracks from './Tracks.vue'

    export default {
        components: {
            Tree,
            Tracks
        }
    }
</script>
<style lang="scss">
    #app {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 20px;
    }
</style>