﻿<template>
    <div id="LikeButton">
        <a href="#" v-on:click="setLike()">
            <i :class="likeStyle"></i>
        </a>
    </div>
</template>

<script>
import axios from 'axios'
export default
{
    data() {
        return {

        };
    },
    props: {
        track: {
            type:Object,
            required: true
        }
    },
    computed: {
        likeStyle() {
            return this.track.isLiked ? `fas fa-heart` : `far fa-heart`;
        }
    },
    methods: {
        setLike() {
            let track = this.track;
            var url = track.isLiked
                ? `api/tracks/addToDisliked/${track.id}`
                : `api/tracks/addToLiked/${track.id}`;
            axios.post(url).then(response => this.$store.commit('updateTracksTable'));

        }
    }
}
</script>