﻿<template>
    <div id="ListenedButton">
        <i v-if="track.isListened" class="fas fa-headphones-alt"></i>
        <a v-else href="#" v-on:click="addToListened()"> Add to listened </a>
    </div>
</template>

<script>
    import axios from 'axios'
export default
    {
            data() {
                return {

                };
            },
            props: {
                track: {
                    type:Object,
                    required: true
                }
            },
            computed: {
                listenedStyle() {
                    return this.track.isLiked ? `fas fa-headphones-alt` : `far fa-headphones-alt`;
                }
            },
            methods: {
                addToListened() {
                    let track = this.track;
                    var url =  `api/tracks/addToListened/${track.id}`;
                    axios.post(url).then(response => this.$store.commit('updateTracksTable'));

                }
            }
        }
</script>