﻿<template>
    <div id="StarButton">
        <a href="#" v-on:click="setStar()">
            <i :class="starStyle"></i>
        </a>
    </div>
</template>

<script>
    import axios from 'axios'
export default
    {
            data() {
                return {

                };
            },
            props: {
                track: {
                    type:Object,
                    required: true
                }
            },
            computed: {
                starStyle() {
                    return this.track.isFavorite ? `fas fa-star` : `far fa-star`;
                }
            },
            methods: {
                setStar() {
                    let track = this.track;
                    var url = this.track.isFavorite
                        ? `api/tracks/removeFromFavourites/${track.id}`
                        : `api/tracks/addToFavourites/${track.id}`;
                    axios.post(url).then(response => this.$store.commit('updateTracksTable'));

                }
            }
        }
</script>