﻿<template>
    <div id="tracks">
        <div v-if="isTableVisible">
            <table id="tracksTable">
                <thead>
                    <tr>
                        <th v-for="col in columns"
                            class="table_component_th"
                            :name="col.name">
                            {{col.title}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="track in tracks">
                        <td class="table_component_td">{{track.name}}</td>
                        <td class="table_component_td">{{track.duration}}</td>
                        <td class="table_component_td">
                            <like-button :track="track"></like-button>
                        </td>
                        <td class="table_component_td">
                            <listened-button :track="track"></listened-button>
                        </td>
                        <td class="table_component_td">
                            <star-button :track="track"></star-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-else>
            <h3> Choose album to see tracks! </h3>
        </div>
    </div>
</template>

<script>
    const columns = [
        {
            name: 'Name',
            title: 'Name'
        },
        {
            name: 'Duration',
            title: 'Duration'
        },
        {
            name: 'IsLiked',
            title: ''
        },
        {
            name: 'IsListened',
            title: ''
        },
        {
            name: 'IsFavorite',
            title: ''
        }
    ]

    import axios from 'axios'
    import LikeButton from './LikeButton.vue'
    import ListenedButton from './ListenedButton.vue'
    import StarButton from './StarButton.vue'
    export default {
        data() {
            return {
                columns: columns
            }
        },
        computed:{
            tracks() {
                return this.$store.getters.tracks;
            },
            isTableVisible() {
                return this.tracks.length !== 0;

            }
        },
        methods: {

        },
        components: {
            'like-button': LikeButton,
            'listened-button': ListenedButton,
            'star-button': StarButton
        }
    }
</script>

<style>


    #tracks {
        width: 60%;
    }


    #tracksTable {
        min-width: 100%;
        border: solid 1px #ddd;
        border-radius: 5px;
    }

    .table_component_th {
        background-color: #e0e0e0;
        color: #999;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: .85em;
        padding: .75em 1.25em;
        vertical-align: top;
        text-align: center;
    }

    .table_component_td {
        padding: .75em 1.25em;
        vertical-align: top;
        text-align: center;
    }

    th[name=Name] {
        width: 25%
    }

    th[name=Duration] {
        width: 20%
    }

    th[name=IsLiked] {
        width: 10%
    }

    th[name=IsListened] {
        width: 25%
    }

    th[name=IsFavorite] {
        width: 15%
    }
</style>