﻿
<template>
    <div>
        <input type="text" placeholder="Type to filter..." v-model="treeFilter">
        <tree :filter="treeFilter"
              :options="options"
              @node:selected="onSelected"
              ref="tree" />
    </div>
</template>

<script>
    import LiquorTree from 'liquor-tree'
    import axios from 'axios'
    export default {
        data() {
            return {
                treeFilter: '',
                options: {
                    fetchData() {
                        return axios.get('api/musicians/tree').then(response => response.data)
                    },
                    filter: {
                        emptyText: 'No nodes matching this text!'
                    }
                }
            }
        },
        components: {
            [LiquorTree.name]: LiquorTree
        },
        methods: {
            onSelected(node) {
               this.$store.commit('updateTracksTable', node);
            }
        }
    }
</script>

<style lang="scss">
    #tree {
        width: 30%;
    }
</style>